<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">En Construcción</h4>
  <p>Lamentamos el inconveniente. Por el momento estamos trabajando en esta sección para brindarte un mejor servicio.</p>
  <hr>
  <p class="mb-0">Puedes mandarnos un correo a través del formulario de contacto o en nuestras redes sociales.</p>
                  <div class="media">
                    <h5 class="alert-heading">Facebook</h5>
                    <div class="media-body">
                        <a href="https://www.facebook.com/pandacornio.art" target="blank"><p>/pandacornio.art</p></a> 
                    </div>
                </div>
                <div class="media">
                    <h5 class="alert-heading">Instagram</h5>
                    <div class="media-body">
                        <a href="https://www.instagram.com/pandacornio.art/?hl=es-la" target="blank"><p>@pandacornio.art</p></a> 
                    </div>
                </div>
</div>