<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%- include('partials/head.html')%>
  </head>
  <body>
    <%- include('partials/navigation.html') %>

    <div class="contenido">
        <div id="about-head">
            <h1>¿Quiénes somos?</h1>
        </div>
        <div id="mision" class="animate__animated animate__slideInDown">
            <h3>Misión</h3>
            <p>Somos una empresa de artesanos que buscamos llenar de felicidad a nuestros clientes
                a través de productos de alta calidad, coloridos, a la moda y creativos.
            </p>
        </div>
        <div id="vision" class="animate__animated animate__slideInDown">
            <h3>Visión</h3>
            <p>A través de la puesta en marcha de nuestra creatividad y valores, queremos ser una empresa
                reconocida a nivel nacional en la creación y productos a la moda. Llegar a más consumidores
                a través de tiendas de prestigio y ser inspiración para otros artesanos.
            </p>
        </div>
        <div id="valor" class="animate__animated animate__slideInDown">
            <h3>Propuesta de Valor</h3>
            <p>A través de la puesta en marcha de nuestra creatividad y valores, queremos ser una empresa
                reconocida a nivel nacional en la creación y productos a la moda. Llegar a más consumidores
                a través de tiendas de prestigio y ser inspiración para otros artesanos.
            </p>
        </div>
    </div>

  </body>
</html>
