<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <%- include('partials/head.html')%>
  </head>
  <body>
    <%- include('partials/navigation.html') %>
    <div class="contenido">
    <h1><%= title %></h1>
        <!-- Contenido -->
        <div class="deck">
            <div class="card animate__animated animate__flipInY">
                <img src="media/Llavero 1.jpg" alt="" class="card-img">
                <div class="card-body">
                    <ul class="menu-opc">
                        <li class="opc-card">$50</li>
                        <li class="opc-card"><i class="fas fa-thumbs-up like"></i> 9</li>
                        <li class="opc-card"><i class="fas fa-thumbs-down dislike"></i> 1</li>
                        <li class="opc-card"><i class="fas fa-comment comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="card animate__animated animate__flipInY">
                <img src="media/Aretes 1.jpg" alt="" class="card-img">
                <div class="card-body">
                    <ul class="menu-opc">
                        <li class="opc-card">$50</li>
                        <li class="opc-card"><i class="fas fa-thumbs-up like"></i> 9</li>
                        <li class="opc-card"><i class="fas fa-thumbs-down dislike"></i> 1</li>
                        <li class="opc-card"><i class="fas fa-comment comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="card animate__animated animate__flipInY">
                <img src="media/Aretes 2.jpg" alt="" class="card-img">
                <div class="card-body">
                    <ul class="menu-opc">
                        <li class="opc-card">$50</li>
                        <li class="opc-card"><i class="fas fa-thumbs-up like"></i> 9</li>
                        <li class="opc-card"><i class="fas fa-thumbs-down dislike"></i> 1</li>
                        <li class="opc-card"><i class="fas fa-comment comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="card animate__animated animate__flipInY">
                <img src="media/Accesorios 1.jpg" alt="" class="card-img">
                <div class="card-body">
                    <ul class="menu-opc">
                        <li class="opc-card">$50</li>
                        <li class="opc-card"><i class="fas fa-thumbs-up like"></i> 9</li>
                        <li class="opc-card"><i class="fas fa-thumbs-down dislike"></i> 1</li>
                        <li class="opc-card"><i class="fas fa-comment comment"></i> 5</li>
                    </ul>
                </div>
            </div>
            <div class="card animate__animated animate__flipInY">
                <img src="media/Llavero 1.jpg" alt="" class="card-img">
                <div class="card-body">
                    <ul class="menu-opc">
                        <li class="opc-card">$50</li>
                        <li class="opc-card"><i class="fas fa-thumbs-up like"></i> 9</li>
                        <li class="opc-card"><i class="fas fa-thumbs-down dislike"></i> 1</li>
                        <li class="opc-card"><i class="fas fa-comment comment"></i> 5</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

  </body>
</html>


